<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	
</head>
<body>
	<!-- <div class="top-bar">
		<img src="/assets/banner-img.png" alt="VetAI Logo" class="logo">
		<div class="buttons">
			<button class="button">Chat with our AI</button>
			<button class="button">Contact a Veterinary</button>
		</div>
	</div> -->
	<div class="container">
		<div class="image-section"></div>
		<div class="text-section">
			<img src="/assets/banner-img.png" alt="VetAI Logo" class="logo1">
			<h1>Welcome to</h1>
			<h1>MINI-VET</h1>
			<p>Your Animal Care Partner<br>your comprehensive resource for all your animal health concerns. Whether you have a furry friend at home or manage a herd on your farm, ask us anything about animal wellness, symptom checkers, or general care advice. We're here to provide reliable information and support you in caring for your critters.</p>
            <div style="display: flex; justify-content: space-between; width: 50%;">
               <div>
                <button style="background-color: black; color: #fff; padding:12px 10px; border-radius: 8px; border: none;">Start Chat Below</button>
               </div> 
               <div>
                <button style="background-color: black; color: #fff; padding:12px  10px; border-radius: 8px; border: none;" href="mailto:researcher.com">Contact Vet</button>
               </div>
            </div>
		</div>
	</div>
</body>
</html>